@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Bw Gradual";
  src: url("./assets/fonts/Bw-Gradual-Regular/BwGradual-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/Bw-Gradual-Regular/BwGradual-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: Calistoga;
    font-display: swap;
    src: url("/calistoga.woff2") format("woff2");
}


@theme {
  --font-messiri: "El Messiri", "sans-serif";
  --big-shoulders: "Big Shoulders", "sans-serif";
  --intro-book: "Intro Book", "sans-serif";
  --intro-black: "Intro Black", "sans-serif";
}